
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Squada+One&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #202020;
}

html {
  font-size: 62.5%;
  font-family: "urbanist";
}

body {
  background-color: black;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
}

p,
li,
a,
button,
.link {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  line-height: 1.6;
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}



button {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  padding: 0.6rem 2.4rem;
  text-align: center;
  outline: none;
  border: none;
  text-transform: unset;
  transition: all 0.3s ease-in-out;
  background: #202020;
  color: #fff;
  border-radius: 1.5rem;
  /*thisdoesn'twork*/
  border-width: 0.1rem;
  border-style: solid;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  margin-top: 1.6rem;
}


.container {
  max-width: 100rem;
  margin: auto;
}

.grid {
  display: grid;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}

header {
  height: 8rem;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 10px 10px -10px;
  background-color: #202020;
  width: 100%;


}

.navbar-grid {
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  height: 8rem;
  /* padding: 0 100px; */

  & .logo h1 {
    font-size: 3rem;
  }
}

nav ul {
  display: flex;
  justify-content: flex-end;
  /* background-color: yellow; */
  gap: 3.2rem;
  color: #fff;


}


.hero-section .container {
  padding: 3.2rem;
  margin: 9rem auto;
  gap: 6.4rem;
}

.paragraph {
  font-size: 1.4rem;
  color:#525050 ;
  margin: 3.2rem 0;
}

.heading-xl {
  font-family: inherit;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.15;
  letter-spacing: -1px;
}

.hero-image {
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .banner-image {
  width: 130%;
}











.section-about {
  margin: 0 auto 9rem auto;
}

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}


.container-title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  line-height: 50px;
}

.card {
  max-width: 60rem;
  border: 0;
  width: 100%;
  margin-inline: auto;
}

.container-card {
  position: relative;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  border-radius: 45px;
  padding: 40px 20px;
}


.bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
  position: relative;
}


.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}


.bg-blue-box::after {
  background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.bg-green-box::after {
  background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.bg-white-box::after {
  background: linear-gradient(71deg, #121013, #b0afb0, #121013);
}

.bg-yellow-box::after {
  background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}



.card-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  /* line-height: 40px; */
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  max-width: 470px;
  
}

.container-card-p{
  font-size: 13px;
  
}